
#include "minhopr.h"

ID_MINHOP_ICO ICON "src/minhop.ico"

"MinhopWindowMenu" MENU
BEGIN
   POPUP "&File"
   BEGIN
#ifdef MINPUT_OS_WIN32
      MENUITEM "&Hide" ID_WIN_MENU_FILE_HIDE
#else
      MENUITEM "&Minimize" ID_WIN_MENU_FILE_MINIMIZE
#endif /* MINPUT_OS_WIN32 */
      MENUITEM SEPARATOR
      MENUITEM "E&xit" ID_WIN_MENU_FILE_EXIT
   END
END

