
#include "minhopr.h"

ID_MINHOP_ICO ICON "src/minhop.ico"

"MinhopWindowMenu" MENU
BEGIN
   POPUP "&File"
   BEGIN
      MENUITEM "&Hide" ID_WIN_MENU_FILE_HIDE
      MENUITEM SEPARATOR
      MENUITEM "E&xit" ID_WIN_MENU_FILE_EXIT
   END
END

